body{
    margin:0;
    padding:0;
}
a:hover{

    color:#fff;
}
.nav-link{
    color:#fff;
    font-weight:bold;
    background:#ee2a24;
}
.logo{
    background:#ee2a24;
}

.logo img{
    width:35em;
    height:10em;
}
.nav-logo{
    width: 5em;
    height:2em;
}
.banner{
	background-image: url(../static/images/ban.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	height:185vh;
}
.form{
	background:#fff;
	margin-top:2em;
	border-radius: 1em;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background:#ee2a24 !important;
}














/* Media Queries */
@media (min-width: 320px) and (max-width: 375px){
    .logo img{
        width:100%;
    }
    .border-left{
        display:none;
    }
}
@media (min-width: 375px) and (max-width:425px){
    .logo img{
        width:100%;
    }
    .border-left{
        display:none;
    }
}
@media (min-width:768px) and (max-width:768px){
    .border-left{
        display:none;
    }
}